#cabecalho{
    background-color:var(--primaria);
    width: 1000px;
    height: 100px;
    margin: 20px auto ;
    color: var(--branca);    
}

#div-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

#logo, #lista-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-menu, #lista-menu{
    width: 78%;
    height: 100px;
}

#logo{
    width: 20%;
    height: 100px;
}

#lista-menu{
    width: 100%;
    height: 100px;
    padding: 0px 15px;
    justify-content: right;
}

#lista-menu li{
    list-style: none;
    margin: 0px 5px;
}

/*FORMATAÇÃO DOS LINKS DO MENU*/
a:link, a:visited, a:active{
    text-decoration: none;
    font-size: 20px;
    color: var(--branca);
    transition: opacity  0.5s ease;
}

a:hover{
    opacity: 0.5;
}