@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

:root{
    --cor-laranja-principal: #ff6f00;
    --cor-laranja-hover: #e65100;
    --cor-amarelo-destaque: #ffc107;
    --cor-amarelo-suave: #fff8e1;
}